[submodule "modules/non-transparent-proxy"]
	path = modules/non-transparent-proxy
	url = git@github.com:maple-labs/non-transparent-proxy.git
[submodule "modules/forge-std"]
	path = modules/forge-std
	url = git@github.com:foundry-rs/forge-std.git
[submodule "modules/erc20-helper"]
	path = modules/erc20-helper
	url = https://github.com/maple-labs/erc20-helper
