[submodule "modules/non-transparent-proxy"]
	path = modules/non-transparent-proxy
	url = git@github.com:maple-labs/non-transparent-proxy.git
[submodule "modules/forge-std"]
	path = modules/forge-std
	url = git@github.com:foundry-rs/forge-std.git
